$space-small: 1em;
$space-medium: 2em;
$space-large: 3em;
$ec-blue: #2d8cdd;

%transition-all {
    transition: all .3s ease;
}

.ec-header {
  padding: 10px 20px;
  .header-logo {
    margin: 0 auto;
    width: 200px;
  }
  button {
    margin-top: 12px;
  }
}

//hide menu button 
@media screen and (max-width: 360px) {
  .hide-for-xsmall {
    display: none;
  }
}

.ec-callout {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-position: 50% 50%;
  background-size: cover;
  &.callout { 
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 30px solid $ec-blue;
  }
  &.ec-bg1 {
    background-image: url(/img/bg1.jpg);
  }
  &.ec-bg2 {
    background-image: url(/img/bg2.jpg);
  }  
  &.ec-bg3 {
    background-image: url(/img/bg3.jpg);
  }
  h2 {
    font-weight: 300;
    text-rendering: optimizeLegibility;
  }

}

.ec-section {
  padding: 40px 0;

  h5 {
    font-weight: 600;
    margin-bottom: 0;
    text-rendering: optimizeLegibility;
  }
  img.thumbnail {
    box-shadow: none;
  }
}

#team {
  .small-4 {
    h5 { font-size: 18px; }
    p { font-size: 16px; }
  }
}

.ec-section--blue {
  padding: 30px 0;
  background-color: $ec-blue;
  color: #ffffff;
  a {
    color: #ffffff;
  }
  h5 { 
    font-size: 16px;
  }
  p {
    margin-bottom: 0;
    font-size: 16px;
  }
}

.ec-footer {
  padding: 20px 10px 60px;
  font-size: 16px;
  h5 { 
    font-size: 16px;
  }
}

//helpers 
.margin-bottom-large {
  margin-bottom: 40px;
}