$space-small: 1em;
$space-medium: 2em;
$space-large: 3em;

body { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.everconnect-brand {
  margin: $space-large auto $space-large; 
  max-width: em-calc(160);

  @media #{$medium-up} {
    margin: $space-large*3 auto $space-large;     
  }
  @media #{$large-up} {
    margin: $space-large*4 auto $space-large;
  }
}
.body-headline,
.body-text {
  margin-bottom: $space-small;
  br {
    display: none;
    @media #{$medium-up} {
      display: block;   
    }
  }

}