$space-small: 1em;
$space-medium: 2em;
$space-large: 3em;

%transition-all {
    transition: all .3s ease;
}

body { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.everconnect-brand {
  @extend %transition-all;
  margin: $space-large auto $space-large; 
  max-width: em-calc(160);

}
.body-headline,
.body-text {
  @extend %transition-all;
  margin-bottom: $space-small;
  br {
    display: none;
  }
}


